/* ****************************************************** */
/* RESET SYLES */
/* ****************************************************** */

@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EntypoSocial';
    src: url('../fonts/entypo-social.eot');
    src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-social.woff') format('woff'),
         url('../fonts/entypo-social.ttf') format('truetype'),
         url('../fonts/entypo-social.svg#EntypoSocial') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.entypo {font-family:EntypoRegular;font-weight:normal;}
.social {font-family:EntypoSocial;font-weight:normal;}
.bebas {font-family:BebasRegular;font-weight:normal;word-spacing:0.15em;}

/* ****************************************************** */
/* RESET SYLES */
/* ****************************************************** */
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* ****************************************************** */
/* PAGE STYLES */
/* ****************************************************** */

body {
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	background-color:#ddd;
	background-position:top center;
	text-align:center;
	background-attachment:fixed;
	color:white;
	font-family:arial;
}

#wrapper {
	width:100%;
	margin:0;
	padding:10px 0;
	background-image:url(../img/black-pts.png);
}

h1 {
	text-align:center;
	/* font-style:italic; */
	font-size:2em;
	line-height:0.8em;
	border-top:1px solid white;
	font-family:BebasRegular;
	word-spacing:0.3em;
}

h2 {
	text-align:center;
	font-size:1.3em;
	line-height:0.8em;
	font-family:BebasRegular;
	word-spacing:0.2em;
}

h3 {
	text-align:center;
	font-size:1.1em;
	line-height:0.8em;
	font-family:BebasRegular;
	word-spacing:0.4em;
}

div#album {
	width:90%;
	margin:0 auto;
	text-align:left;
}

img#albumcover {
	width:100%;
}

ol#albumtracks {
	list-style-position:inside;
	text-align:left;
}

ol#albumtracks li {
	line-height:1.5em;
}

ol#albumtracks li.over {
	cursor:pointer;
	background: url(../img/black-pts.png);
}

div#albumlegal a {
	color:white;
}

div.lyrics, p.store {
	font-size:8pt;
}

span.tracktime {
	font-size:0.8em;
}

.videolink {
	display:inline-block;
	background-color:white;
	font-size:0.6em;
	line-height:1.4em;
	padding:1px 4px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius:2px;
	color:#666;
	text-transform:uppercase;
	position:relative;
	left:4px;
}

div#albumnotes, div#albumlegal, div#thanks {
	font-size:6pt;
}

div#albuminstructions {
	text-align:center;
}

h1, h2, h3, img#albumcover, div#albumnotes, ol#albumtracks, 
div#albumlegal, div#albuminstructions, div.lyrics, div.media, 
p.store, #morefrom, div#thanks {
	clear:both;
	overflow:auto;
	padding:10px 0;
	margin:0;
	border-bottom:1px solid white;
}

.noborder {border:0;}

#sharebuttons {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:white;
	margin:0;
	padding:20px 0;
}

p.store img {
	width:40%;
	float:left;
	margin-right:12px;
}

#morefrom {
	text-align:center;
}

#morefrom a {
	text-decoration:none;
	color:white;
}

#morefrom a:hover {
	color:#ccc;
}

#morefrom .social, #morefrom .entypo {
	font-size:48pt;
}

#morefrom span.text {
	font-size:0.9em;
	position:relative;
	bottom:8px;
}

.bump-up {
	position:relative;
	bottom:20px;
}

/* .counter-twitter {
	position:relative;
	right:40px;
} */

select {
	background:white;
	color:black;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius:2px;
	width:47%;
	margin-top:2px;
}


/* ****************************************************** */
/* BUTTONS AND PLAYER */
/* ****************************************************** */

#player {
	position:fixed;
	right:0px;
	bottom:54px;
	height:40px;
	width:100%;
	background:#000;
	z-index:2;
	padding-top:6px;
	text-align:left;
	color:white;
}

#buttons {
	position:fixed;
	right:0px;
	bottom:0px;
	height:54px;
	width:100%;
	background:#000;
	z-index:2;
}

.android #player {
	bottom:50px;
}

#spacer {height:100px;}

p#inplayer {
	padding:0 2%;
}

.ie8 p#inplayer, .ie9 p#inplayer {
	position:relative;
	bottom:16px;
}

#player a.entypo {
	color:white;
	text-decoration:none;
	font-size:48pt;
	line-height:20px;
	position:relative;
	top:10px;
}

#player .track-info {
	font-size:0.8em;
}

#player a:hover {
	color:#ccc;
}

button, a.button {
	display:inline-block;
	text-align:center;
	height:40px;
	line-height:40px;
	margin:5px 0;
	padding:0 5px;
	background:white;
	border:0;
	width:47%;
	font-weight:bold;
	font-size:12pt;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius:2px;
	cursor:pointer;
	color:#333;
	text-decoration:none;
}

button.over, a.button.over {
	color:#000;
	background-color:#ccc;
	box-shadow:0 2px 0.6em 0 #777;
}

#buy {float:left;margin-left:2%;}
#more {float:right;margin-right:2%;}
.jp-stop {display:none;}


/* ****************************************************** */
/* MODAL POPUPS */
/* ****************************************************** */

/* #sharemodal {
	display:none;
	position:fixed;
	background-color:white;
	width:80%;
	height:80%;
	top:10%;
	left:10%;
	z-index:5;
	border-radius:20px;
	color:black;
	box-shadow:0 0 1em 0 #333;
}

.inmodal {
	padding:20px;
} */

/* ****************************************************** */
/* MEDIA QUERIES */
/* ****************************************************** */

@media screen and (min-width: 380px){
	div#albumnotes, div#albumlegal, div#thanks {
		font-size:8pt;
	}
	
	#listen {
		font-size:16pt;
	}
	
	#player .track-info {
		font-size:0.9em;
	}	
}

@media screen and (min-width: 460px){
	div.lyrics, p.store {
		font-size:10pt;
	}
	
	#wrapper /*, #sharebuttons */ {
		width:460px;
		margin:0 auto;
	}
	
	ol#albumtracks li {
		line-height:1.4em;
	}
	
	.jp-stop {
		display:inline;
	}
	
	.counter-twitter {
		right:75px;
	}
}


@media screen and (min-width: 840px){
	#body {
		text-align:left;
	}
	
	div.lyrics, p.store {
		font-size:8pt;
	}
	
	#wrapper /* , #sharebuttons */ {
		width:360px;
		margin:0;
		/* padding:20px 0; */
	}
	
	div#albumnotes, div#albumlegal, div#thanks {
		font-size:8pt;
	}
	
	ol#albumtracks li {
		line-height:1.3em;
	}
	
	#player {
		top:20px;
		right:20px;
		width:400px;
		padding:0 10px;
		background:transparent url(../img/black-pts.png);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius:2px;
		color:#fff;
	}
	
	/* #player a.entypo {
		color:white;
	} */
	
	#buttons {
		top:68px;
		right:20px;
		width:200px;
		background:transparent;
	}
	
	button, a.button {
		font-size:10pt;
		height:24px;
		line-height:24px;
		width:48%;
	}
	
	button.over, a.button.over {
		background-color:white;
	}
	
	#buy, #more {margin:0;}
	
	#spacer {height:0;}
	
	.counter-twitter {
		right:40px;
	}
}

@media screen and (min-width: 840px){
	#body {
		text-align:left;
	}
	
	#wrapper /* , #sharebuttons */ {
		width:420px;
	}
	
	div#albumnotes, div#albumlegal, div#thanks {
		font-size:10pt;
	}
	
	div.lyrics, p.store {
		font-size:10pt;
	}
	
	.counter-twitter {
		right:75px;
	}
}

/* ****************************************************** */
/* PRINT */
/* ****************************************************** */



  

